/*头部广告*/
#out{
    width: 100%;
    height: 90px;
}
#out img{
    width: 100%;
    min-width: 1080px;
    height: 100%;
}
/*header*/
#header{
    background: #ffffff;
}
#header .header_top{
    height: 32px;
    width: 100%;
    background: #fcfcfc;
    border-bottom: 1px #edeef0 solid;
}
.header_top .ul_left{
    float: left;
    height: 100%;
    color: #7d6694;
}
.header_top .ul_left li{
    float: left;
    padding: 0 8px;
    margin-top: 11px;
    border-right: 1px #dde2ea solid;
}
.header_top .ul_left li:last-child{
    border: 0;
}
.header_top .ul_left li a{
    color: #ff6600;
}
.header_top .ul_left .login_2{
    display: none;
}
.header_top .ul_right{
    float: right;
}
.header_top .ul_right>li{
    float: left;
    padding: 0 19px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
}
.header_top .ul_right>li i img{
    vertical-align: middle;
    margin-top: -3px;
}
.header_top .ul_right>li em img{
    vertical-align: middle;
}
.header_top .ul_right>li:hover .txt{
    color: #ff6600;
    transition: all 0.2s;
}
.header_top .ul_right .li1 i,.header_top .ul_right .li2 i,.header_top .ul_right .li3 i{
    width: 14px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}
.header_top .ul_right .li1 i{
    background: url("../images/user.png") no-repeat;
}
.header_top .ul_right .li2 i{
    background: url("../images/car.png") no-repeat;
}
.header_top .ul_right .li3 i{
    background: url("../images/xin.png") no-repeat;
}
.header_top .ul_right .li1:hover i{
    background: url("../images/user2.png") no-repeat;
    transition:all 0.2s;
}
.header_top .ul_right .li2:hover i{
    background: url("../images/car2.png") no-repeat;
    transition:all 0.2s;
}
.header_top .ul_right .li3:hover i{
    background: url("../images/xin2.png") no-repeat;
    transition:all 0.2s;
}

.header_top .ul_right>li>ul{
    width: 100%;
    position: absolute;
    left:0;
    top:32px;
    border: 1px #eaeaea solid;
    background: #ffffff;
    display: none;
}
.header_top .ul_right>li>ul>li{
    width: 100%;
    height: 32px;
    line-height:32px;
    border-bottom: 1px #eaeaea solid;
    padding-left: 16px;
}
.header_top .ul_right>li>ul>li:hover{
    color: #ff6600;
    background: #f8f8f8;
}
.header_top .ul_right>li>ul>li:last-child{
    border-bottom: 0;
}
     /*middle*/
.header_middle{
    width: 100%;
    padding-bottom: 20px;
}
.header_middle h1{
    float: left;
    width: 220px;
    height: 75px;
    margin-top: 27px;
}
.header_middle h2{
    float: left;
    width: 180px;
    height: 70px;
    margin-top: 27px;
}
.header_middle .search{
    float: left;

    margin-top: 36px;
}
.header_middle .search_box{
    width: 492px;
    border: 1px #ff6600 solid;
    border-bottom: 2px #ff6600 solid;
}
.header_middle .right_img{
    float: right;
    margin-top: 27px;
}
.header_middle .search input{
    float: left;
    height: 30px;
    border: 0;
}
.header_middle .search .txt{
    width: 85%;
    padding-left: 10px;
}
.header_middle .search .btn{
    width: 15%;
    background: #ff6600;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}
.header_middle .search .link{
    margin-top: 8px;
}
.header_middle .search .link li{
    float: left;
    margin-right: 10px;
    color: #666666;
}
.header_middle .search .link li:hover{
    color: #ff6600;
    transition: all 0.2s;
}
       /*nav*/
.header_nav{
    height: 35px;
}
.header_nav .all{
    float: left;
    height: 35px;
    width: 190px;
    position: relative;
}
.header_nav .all>i{
    display: block;
    height: 35px;
    width: 190px;
    background: #ff6600;
    line-height: 35px;
    padding-left: 12px;
    font-size: 14px;
    color: #ffffff;
}
        /*全部分类*/
.header_nav .all .class_cont{
    width: 190px;
    height: 410px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
    overflow: hidden;
}
.class_cont li{
    width: 100%;
    height: 59px;
    border-bottom: 1px #555555 solid;
    padding: 10px 6px 10px 13px;
}
.class_cont li:hover{
    background: #ffffff;
}
.class_cont li:hover p,.class_cont li:hover span{
    color: #666;
}
.class_cont li p a:hover,.class_cont li span a:hover{
    color: #ff6600;
}
.class_cont li p{
    line-height: 20px;
    color: #ffffff;
    font-size: 14px;
}
.class_cont li span{
    color: #999999;
    line-height: 20px;
}
.class_cont li a{
    margin-right: 2px;
}
.class_cont li span a{
    margin-right: 7px;
}
        /*全部分类的详情*/
.class_all_details{
    width: 700px;
    height: 424px;
    background: #ffffff;
    box-shadow: 2px -2px 5px #dcdcdc;
    position: absolute;
    top: 35px;
    left: 190px;
    z-index: 10;
    padding: 10px 15px;
    display: none;
}
.class_all_details .left_cont{
    width: 490px;
    height: 424px;
    float: left;
}
.class_all_details .cont_box{
    margin-top: 15px;
}
.class_all_title{
    display: block;
    color: #ff6600;
    padding-bottom: 12px;
    border-bottom: 1px #eeeeee solid;
}
.class_all_details .left_cont .text{
    color: #666666;
    line-height: 20px;
    padding: 5px 0;
}
.class_all_details .left_cont .text a:hover{
    color: #ff6600;
}
.class_all_details .left_cont .text i{
    margin: 0 12px;
    color: #dfdfe6;
}
.class_all_details .right_cont{
    float: right;
    width: 148px;
    height: 424px;
}
.cont_box_suit{
    width: 148px;
}
.class_all_details .right_cont .suit{
    margin-right: -6px;
}
.class_all_details .right_cont .suit li{
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    background: #ff6600;
    float: left;
    margin-right: 6px;
    margin-top: 6px;
}
.class_all_details .right_cont li a{
    display: block;
}
.class_all_details .right_cont .brand{
    padding-top: 10px;
}
.class_all_details .right_cont .brand li{
    width: 74px;
    height: 40px;
    float: left;
}
.class_all_details .right_cont .brand li img{
    width: 100%;
    height: auto;
}
        /*全部分类详情结束*/
.header_nav .nav_box{
    float: left;
    height: 35px;
}
.header_nav .nav_box li{
    float: left;
    margin-left: 45px;
    height: 35px;
    line-height: 35px;
    color: #333333;
    font-weight: bold;
    transition: all 0.3s;
}
.header_nav .nav_box li:hover{
    color: #ff6600;
}
.header_nav .right_img{
    float: right;
    position: relative;
}
.header_nav .right_img .img_box{
    float: left;
    width: 195px;
    height: 35px;
    position: relative;
    overflow: hidden;
}
.header_nav .right_img .img_box li{
    position: absolute;
    top: 0;
    left: 0;
}
.header_nav .right_img .btn{
    float: right;
    width: 15px;
    height: 35px;
}
.header_nav .right_img .btn>p{
    width: 15px;
    height: 17px;
}
.header_nav .right_img .top_btn{
    background: url(../images/index_newadd-1.0.0.png) no-repeat -10px 4px;
}
.header_nav .right_img .bottom_btn{
    background: url(../images/index_newadd-1.0.0.png) no-repeat -10px -22px;
}
.header_nav .right_img .top_btn:hover{
    background: url(../images/index_newadd-1.0.0.png) no-repeat 2px 4px;
}
.header_nav .right_img .bottom_btn:hover{
    background: url(../images/index_newadd-1.0.0.png) no-repeat 2px -22px;
}

    /*活动公告*/
.header_nav .activity{
    width: 200px;
    height: 410px;
    border-top: 1px #e8e8e8 solid;
    background: #ffffff;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 9;
    overflow: hidden;
}
.activity_out{
    width: 100%;
    height: 34px;
    border-bottom: 1px #e8e8e8 solid;
    padding: 0 10px;
}
.activity_out li{
    float: left;
    color: #333333;
    width: 44px;
    text-align: center;
    line-height: 34px;
}
.activity_out li.active span{
    color: #ff6600;
    display: inline-block;
    height: 34px;
    border-bottom: 4px #ff6600 solid;
}
.activity_cont{
    margin: 7px 0;
}
.activity_cont li{
    height: 24px;
    line-height: 24px;
    color: #333333;
    margin-left: 16px;
    transition: all 0.3s;
}
.activity_cont li:hover{
    color: #ff6600;
}
.activity_mode{
    width: 202px;
}
.activity_mode li{
    width: 33.33%;
    height: 72px;
    border-right: 1px #e8e8e8 solid;
    border-bottom: 1px #e8e8e8 solid;
    float: left;

}
.activity_mode li .img{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.activity_mode li .img img{
    vertical-align: middle;
}
.activity_mode li p{
    text-align: center;
    transition:all 0.3s;
}
.activity_mode li:hover p{
    color: #ff6600;
}

/*右边的购物车弹框*/
#right_shopCar{
    position: fixed;
    right: -270px;
    top: 0;
    height: 100%;
    z-index: 99;
}
#right_shopCar .bar_left{
    width: 27px;
    height: 100%;
    position: relative;
    background: #333333;
    float: left;
}
#right_shopCar .bar_left ul{
    width: 27px;
}
#right_shopCar .bar_left ul li{
    margin-bottom: 20px;
}
#right_shopCar .bar_left ul li:hover{
    background: #ff6600;
}
#right_shopCar .bar_left ul li a{
    display: block;
    width: 23px;
    height: 27px;
    margin-left: 2px;
}
#right_shopCar .bar_left ul li .user{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat 3px 3px;
}
#right_shopCar .bar_left ul li .kefu{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat 3px -172px;
}
#right_shopCar .bar_left ul li .car{
    border-top: 1px #4f535d solid;
    border-bottom: 1px #4f535d solid;
    height: 116px;
    text-align: center;
    color: #ffffff;
}
#right_shopCar .bar_left ul li .car i{
    width: 100%;
    height: 27px;
    display: block;
    margin: 6px 0;
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat 0 -26px;
}
#right_shopCar .bar_left ul li .zch{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat 4px -55px;
}
#right_shopCar .bar_left ul li .jy{
    text-align: center;
    line-height: 27px;
}
#right_shopCar .bar_left ul li .jy img{
    width: 16px;
    height: 17px;
}
#right_shopCar .bar_left ul li .car span{
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background: #ff6600;
    margin-top: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#right_shopCar .bar_left ul li:hover .user{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat -30px 3px;
}
#right_shopCar .bar_left ul li:hover .kefu{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat -30px -172px;
}
#right_shopCar .bar_left ul li:hover .car i{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat -33px -26px;
}
#right_shopCar .bar_left ul li:hover .zch{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat -30px -55px;
}
#right_shopCar .bar_left .ul{
    height: 280px;
    position: absolute;
    top: 50%;
    margin-top: -140px;
}
#right_shopCar .bar_left .ul2{
    position: absolute;
    bottom: 0;
    margin-top: -140px;
    height: 60px;
}
#right_shopCar .bar_left .ul2 li{
    margin: 0;
    height: 30px;
}
#right_shopCar .bar_left ul li .er{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat 2px -296px;
}
#right_shopCar .bar_left ul li .top{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat 3px -192px;
}
#right_shopCar .bar_left ul li:hover .er{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat 2px -316px;
}
#right_shopCar .bar_left ul li:hover .top{
    background: url(../images/ibar_sprites-1.0.1.png) no-repeat -30px -192px;
}

    /*右边的购物车详情内容*/
#right_shopCar .car_right{
    width: 270px;
    height: 100%;
    float: right;
    background: #f5f5f5;
    position: relative;
    /* display: none; */

}
#right_shopCar .car_right .title{
    width: 270px;
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    box-shadow: 1px 0 5px #909090;
}
#right_shopCar .car_right .title span{
    float: left;
}
#right_shopCar .car_right .title span img{
    vertical-align: middle;
    margin: 0 10px;
    margin-top: -3px;
}
#right_shopCar .car_right .title i{
    float: right;
    margin-right: 10px;
}
#right_shopCar .car_right .title i img{
    transition: all 0.4s;
    cursor: pointer;
}
#right_shopCar .car_right .title i img:hover{
    transform: rotate(180deg);
}

#right_shopCar  .car_goods{
    width: 100%;
    height: 100%;
    padding-bottom: 124px;
    overflow: hidden;
}
#right_shopCar  .car_goods .scroll{
    width: 290px;
    height: 100%;
    overflow-y: auto;
}
#right_shopCar .car_goods ul{
    width: 270px;
    padding: 0 11px;
    background: #ffffff;
    margin-bottom: 10px;
    border-bottom: 1px #ededed solid;
    border-top: 1px #ededed solid;
}
#right_shopCar .car_goods ul li{
    width: 100%;
    height: 84px;
    padding: 16px 0;
    border-bottom: 1px #e1e1e1 dashed;
    position: relative;
}
#right_shopCar .car_goods ul li:last-child{
    border: 0;
}
#right_shopCar .car_goods ul li .img{
    float: left;
    width: 54px;
    height: 54px;
    border: 1px #e1e1e1 solid;
}
#right_shopCar .car_goods ul li .img img{
    width: 100%;
    height: 100%;
}
#right_shopCar .car_goods ul li .infor{
    float: left;
    margin-left: 6px;
    line-height: 14px;
    width: 186px;
}
#right_shopCar .car_goods ul li .infor .jiage{
    margin-top: 8px;
}
#right_shopCar .car_goods ul li .infor .jiage span{
    color: #ff6600;
    margin-right: 5px;
}
#right_shopCar .car_goods ul li .delete{
    position: absolute;
    bottom: 16px;
    right: 0;
}
#right_shopCar .car_right .go_settle{
    width: 100%;
    padding: 0 11px;
    position: absolute;
    bottom:0;
    left: 0;
    padding-bottom: 12px;
    background: #f5f5f5;
}
#right_shopCar .car_right .go_settle p{
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 13px;
}
#right_shopCar .car_right .go_settle p .num{
    float: left;
}
#right_shopCar .car_right .go_settle p .sum_money{
    float: right;
}
#right_shopCar .car_right .go_settle p i{
    color: #ff6600;
}
#right_shopCar .car_right .go_settle p .sum_money i{
    font-size: 15px;
}
#right_shopCar .car_right .go_settle a{
    display: block;
    width: 100%;
    height: 36px;
    background: #ff6600;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}