//字体颜色
$color_90:#919191;
$color_7c:#7c7c7c;
$color_6c:#6c6c6c;
$color_66:#666666;
$color_ff:#ffffff;

//背景颜色
$bg_f2:#fef2f2;

//边框
$bor_fb4:1px #ffb4a8 solid;

//行高
$line_14:14px;

//字体大小
$fontSize:12px 14px 16px 18px 20px;

//margin-top
$mt-20:20px;